[Unit]
Description=HIM Education Walled Garden Firewall
After=network.target him-ap.service
Before=him-webserver.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /opt/him-edu/iptables_rules.sh apply
ExecStop=/bin/bash /opt/him-edu/iptables_rules.sh clear

[Install]
WantedBy=multi-user.target