[Unit]
Description=Simple static web server for HIM portal
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/him/walled_garden/www
ExecStart=/usr/bin/python3 -m http.server 80 --bind 0.0.0.0
Restart=on-failure

[Install]
WantedBy=multi-user.target
